{% extends 'base.html' %}

{% block content %}
<div class="col-xxl-6 container-fluid p-5">
  {% if user.is_authenticated %}
    <p>Welcome
    <em class="text-info">{{ user.username }}</em>
    <br/>
    <br/>
      <a style="text-decoration:none;" href="{% url 'logout' %}">logout</a>
      </p>
  {% else %}
    <p>You are logged in as a 
    <em class="text-info">guest</em>
    </p>
    <br/>
    Sign up 
    <a href="{% url 'signup' %}" style="text-decoration:none">here</a>
   <br />
    Already a member?
      <a href="{% url 'login' %}" style="text-decoration:none">login here</a>
  {% endif %}
  </div>
{% endblock content %}
